body {
	background: black;
	padding: 5%;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	color: inherit;
}

/**********************/
/*       NAV          */

.nav-container {
	background: #ff6600;
	height: 60px;
	margin-bottom: 20px;
	position: relative;
}

.title {
	font-weight: bold;
	position: absolute;
	left: 50%;
	top: 0;
	margin: 0;
	margin-top: 10px;
	transform: translateX(-50%);
}

.title:hover {
	color: white;
}

.login-buttons {
	width: 200px;
	padding-top: 10px;
}

.login-buttons li {
	display: inline-block;
	border: 1px solid black;
	padding: 10px 15px;
	margin-left: 20px;
	cursor: pointer;
}

.login-buttons li:hover, .logout:hover {
	color: white;
	border: 1px solid white;
}

.welcome {
	display: inline-block;
	margin-left: 5px;
}

.logout {
	border: 1px solid black;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px 15px;
	cursor: pointer;
}

/**********************/
/*       CHAT         */

.main-container {
	background: white;
	border: 5px solid gray;
	height: 500px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.chat-left {
	width: 84%;
}

.messages-container {
	border: 1px solid black;
	width: 90%;
	height: 450px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
	padding: 0 0 0 5px;
	overflow: scroll;
}

.write-message-container {
	position: relative;
	width: 90%;
	margin: auto;
}

.write-message-container input {
	position: absolute;
	width: calc(100% - 57px);
	left: 0;
	top: 0;
}

.write-message-container button {
	position: absolute;
	right: 0;
	top: 0;
	width: 55px;
	margin-left: 3px;
}

.chat-right {
	width: 14%;
	margin-right: 2%;
	margin-top: 10px;
	position: relative;
}

.users-container {
	border: 1px solid black;
	width: 100%;
	padding: 5px 0 0 5px;
}

.colors-container {
	position: absolute;
	bottom: 5px;
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: space-around;
	/*width: 20px;*/
}

.colors-container div {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

#black {
	background: black;
}

#blue {
	background: blue;
}

#red {
	background: red;
}

#green {
	background: green;
}

#orange {
	background: orange;
}

#purple {
	background: purple;
}

#pink {
	background: pink;
}

/**********************/
/*       Register     */

.login {
	color: gray;
}

.login input {
	margin: 15px 0;
}

.login div {
	color: red;
}





